* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
     -webkit-print-color-adjust: exact;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}

.page {
    width: 210mm;
    min-height: 297mm;
    padding: 5mm;
    /*margin: 10mm auto;*/
    margin: 2.5mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: table;
}

.subpage {
    height: 257mm;
    vertical-align: middle;
}

@page {
    size: A4;
    margin: 0;
}

/*@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}*/

@font-face {
    font-family: 'Matrix-Bold';
    src: url('../fonts/matrix-bold.eot');
    src: local('☺'), url('../fonts/matrix-bold.woff') format('woff'), url('../fonts/matrix-bold.ttf') format('truetype'), url('../fonts/matrix-bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MPlantin';
    src: url('../fonts/mplantin.eot');
    src: local('☺'), url('../fonts/mplantin.woff') format('woff'), url('../fonts/mplantin.ttf') format('truetype'), url('../fonts/mplantin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.card {
    border-radius: 2%;
    padding: 2mm;
    width: 63mm;
    height: 88mm;
    background-color: #1a1a1a;
    background: url('../images/body.png');
    box-sizing: border-box;
    border: 2mm solid #000;
    color: #1a1a1a;
    box-sizing: border-box;
    /*display: inline-block;*/
    margin: 1;
    float: left;
    position: relative;
}

.card * {
    margin: 0;
    padding: 0;
}

.card .content {
    background-color: #f1e9d2;
    border: 0.75mm ridge gold;
    box-sizing: border-box;
    position: relative;
}

.card .sub {
    width: 98%;
    margin: auto;
    margin-top: -1mm;
    z-index: 1;
}

.card .sup {
    border-radius: 3em/13em;
    z-index: 2;
}

.card header {
    position: relative;
    background-repeat: no-repeat;
    background-position: center right;
}

.card header h1,
.card figcaption {
    padding-left: 1mm;
}

.card header h1 {
    font: 400 14px/14px 'Matrix-Bold', Helvetica, sans-serif;
}

/*⛉⛊*/
/*
.card header div {
    color: white;
    width: 10mm;
    height: 10mm;
}
.card header div::before {
    content: '⛊';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #1a1a1a;
    z-index: -1;
}*/

.card figcaption {
    margin-top: -1mm;
    font: 400 10px/1 'MPlantin', Times, serif;
}

.card #img {
    background-color: #1a1a1a;
    background-size: cover;
    background-position: center top;
    height: 28mm;
}

.card main {
    height: calc(100% - 10px - 14px - 28mm);
    padding: 1mm;
    font: 400 10px/1 'MPlantin', Times, serif;
    background-repeat: no-repeat;
    background-position: center;
}

.card main > div {
    height: 50%;
}

.card ul {
    list-style: none;
    list-style-position: 0;
}

.card ul li {
    list-style: none;
    list-style-position: 0;
}

.card abbr {
    width: 4mm;
    display: inline-block;
    font-family: Segoe UI Symbol;
    text-decoration: none;
    cursor: default;
    text-align: center;
}

.card a {
    text-decoration: none;
    color: #1a1a1a;
}

.card #level {
    font: 400 18px/18px 'MPlantin', Times, serif;
    width:6mm;
    position: absolute;
    bottom:1.5mm;
    right:1.5mm;
    z-index: 10;
    text-align:center;
    color: #1a1a1a;
    border-radius: 30% 2px;
}