<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Print</title>

    <link href="style/css/print.css" rel="stylesheet" />
    <script src="script/vue.js"></script>
</head>

<body>
    <script type="text/x-template" id="card-template">
        <div class="card" id="app">
            <img src="style/images/fullbody.png">
            <header class="sup content" v-bind:style="spell.background">
                <img src="http://images.naldzgraphics.net/2014/07/1-certificate-paper-texture.jpg" />
                <h1>{{spell.title}}</h1>
            </header>
            <figure id="img" class="sub content">
                <img v-bind:src="spell.image" style="object-fit: cover;width: 100%;height: 100%;">
            </figure>
            <figcaption class="sup content">
                <img src="http://images.naldzgraphics.net/2014/07/1-certificate-paper-texture.jpg" />
                <span>{{spell.schoolFull}}</span>
            </figcaption>
            <main class="sub content" v-bind:style="spell.background">
                <img src="http://images.naldzgraphics.net/2014/07/1-certificate-paper-texture.jpg" />
                <img v-bind:src="spell.schoolImage" class="centered"  />
                <div id="PageContentDiv">
                    <ul>
                        <li><abbr title="Temps d'incantation">⌛</abbr><span>{{spell.castingTime}}</span></li>
                        <li v-if="spell.components"><abbr title="Composantes"></abbr><span>{{spell.components}}</span></li>
                        <li v-if="spell.range"><abbr title="Portée"></abbr><span>{{spell.range}}</span></li>
                        <!--<li><abbr title="Effet"></abbr><span>{{spell.effect}}</span></li>-->
                        <!--<li><abbr title="Zone d'effet"></abbr><span>{{spell.zone}}</span></li>-->
                        <li v-if="spell.target"><abbr title="Cible"></abbr><span>{{spell.target}}</span></li>
                        <li><abbr title="Durée"></abbr><span>{{spell.duration}}</span></li>
                        <li v-if="spell.savingThrow"><abbr title="Jet de sauvegarde"></abbr><span>{{spell.savingThrow}}</span></li>
                        <li v-if="spell.spellResistance"><abbr title="Résistance à la magie">⛊</abbr><span>{{spell.spellResistance}}</span></li>
                    </ul>
                    <hr />
                    <span>{{spell.summary}}</span>
                </div>
            </main>
            <div id="level" class="content">
                <span>{{spell.level}}</span>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="page-template">
        <div class="page">
            <div class="subpage">
                <div v-for="item in collection">
                    <card :spell="item"></card>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="book-template">
        <div>
            <div v-for="item in yolo">
                <page :collection="item"></page>
            </div>
        </div>
    </script>

    <div class="book">
        <book :yolo="co"></book>
    </div>

    <script src="script/utility.js"></script>
    <script src="script/print.js"></script>

</body>

</html>